/* Lane styles */
.Lane {
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
    background-color: azure;
    width: 250px;
}

.LaneHeader{

}
.LaneAddNote{

}

.LaneName{
    box-sizing: border-box;
    background-color: rgb(119, 255, 255);   
    margin: 5px auto; 
    font-size: 20px;
}
.LaneDelete {
    
}

.lanes {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: rgb(192, 250, 231);
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}