/* Lane styles */
.Lane {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    background-color: azure;
}

.LaneHeader{

}
.LaneAddNote{

}

.LaneName{

}
.LaneDelete {
    
}

.lanes {
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: rgb(192, 250, 231);
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}